
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: 'Lobster', Fantasy ;
}

.word
{
    font-family: 'Lobster', Fantasy ;
}



main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    margin-top: 10px;
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

select
{
    width: 200px;
    padding: 7px;
    border-radius: 4px;

}

.btn-primary
{
    margin-bottom: 15px;
}
.btn-success
{
    margin: 10px;
}

#ip{
    background-color: white;
    border: none;
    color: white;
}
main .table{
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px){
    main .table{
        font-size: 11px;
        margin: 0 auto;
    }

}



